
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    font-family: "ROBOTO", sans-serif;
}
.main-container .wrapper{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2) ;
    overflow: hidden;
}

.main-container .wrapper img{
    width: 100%;
}
.description{
    padding: 0px 16px;
}

.main-container .description h2{
    font-size: 30px;
    margin: 0;
    margin-top: 16px;
}
.main-container .description p{
    font-size: 15px;
    line-height: 2;
}